<div>
  <div>
  <style>
    h1 {text-align: center;}
    a {text-decoration: none; background-color: none; }
  </style> 
    <p>
      <h1>
      Explore itineraries
      </h1>
    </p>
  </div>
</div>

<hr>

<div>
  <!-- Button trigger modal -->
  <p><center><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Create new itinerary
  </button></center>
  </p>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Create new itinerary</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/insert_itinerary" method="post">
          <p><div>
            <label for="name_box">
              Name
            </label>

            <input type="text" id="name_box" name="query_name">
          </div></p>

          <p><div>
            <label for="caption_box">
              Caption
            </label>

            <input type="text" id="caption_box" name="query_caption">
          </div></p>

          <p><div>
            <label for="cover_image_box">
              Link to cover image
            </label>

            <input type="text" id="cover_image_box" name="query_cover_image">
          </div></p>

          <p><div>
            <label for="owner_id_box">
              Owner
            </label>

            <input type="text" id="owner_id_box" name="query_owner_id">
          </div></p>

          <p><div>
            <label for="location_box">
              Link to location on Google Maps
            </label>

            <input type="text" id="location_box" name="query_location">
          </div></p>

          <p><button>
            Create itinerary
          </button></p>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

<% @list_of_itineraries.each do |an_itinerary| %>
  <% owner = User.where({ :id => an_itinerary.owner_id}).at(0) %>
  <center><div class="card" style="width: 35rem;">
    <div class="image-container">
      <img src="<%= an_itinerary.cover_image %>" class="card-img-top cropped-image" alt="<%= an_itinerary.name %> Image">
    </div>
    <div class="card-body">
      <i><h6 class="card-subtitle mb-2 text-body-secondary">
        <a href="/users/<%= owner.username %>"><%= owner.username %></a></h5></i>
      <h5 class="card-title"><%= an_itinerary.name %></h5>
      <p class="card-text"><%= an_itinerary.caption %></p>
      <a href="/itineraries/<%= an_itinerary.id %>" class="btn btn-primary">Check out details</a>
    </div>
  </div></center>
  <p>
  
<% end %>

<hr>
