<div>
  <div>
    <h1>
      List of all activities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new activity
    </h2>

    <form action="/insert_activity" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div>
        <label for="cover_image_box">
          Cover image
        </label>

        <input type="text" id="cover_image_box" name="query_cover_image">
      </div>

      <div>
        <label for="bookmarks_count_box">
          Bookmarks count
        </label>

        <input type="text" id="bookmarks_count_box" name="query_bookmarks_count">
      </div>

      <div>
        <label for="location_box">
          Location
        </label>

        <input type="text" id="location_box" name="query_location">
      </div>

      <div>
        <label for="rating_box">
          Rating
        </label>

        <input type="text" id="rating_box" name="query_rating">
      </div>

      <div>
        <label for="itinerary_id_box">
          Itinerary
        </label>

        <input type="text" id="itinerary_id_box" name="query_itinerary_id">
      </div>

      <div>
        <label for="traveller_id_box">
          Traveller
        </label>

        <input type="text" id="traveller_id_box" name="query_traveller_id">
      </div>

      <div>
        <label for="date_box">
          Date
        </label>

        <input type="date" id="date_box" name="query_date">
      </div>

      <div>
        <label for="time_box">
          Time
        </label>

        <input type="time" id="time_box" name="query_time">
      </div>

      <button>
        Create activity
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Description
        </th>

        <th>
          Cover image
        </th>

        <th>
          Bookmarks count
        </th>

        <th>
          Location
        </th>

        <th>
          Rating
        </th>

        <th>
          Itinerary
        </th>

        <th>
          Traveller
        </th>

        <th>
          Date
        </th>

        <th>
          Time
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_activities.each do |an_activity| %>
      <tr>
        <td>
          <%= an_activity.id %>
        </td>

        <td>
          <%= an_activity.name %>
        </td>

        <td>
          <%= an_activity.description %>
        </td>

        <td>
          <%= an_activity.cover_image %>
        </td>

        <td>
          <%= an_activity.bookmarks_count %>
        </td>

        <td>
          <%= an_activity.location %>
        </td>

        <td>
          <%= an_activity.rating %>
        </td>

        <td>
          <%= an_activity.itinerary_id %>
        </td>

        <td>
          <%= an_activity.traveller_id %>
        </td>

        <td>
          <%= an_activity.date %>
        </td>

        <td>
          <%= an_activity.time %>
        </td>

        <td>
          <%= time_ago_in_words(an_activity.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_activity.updated_at) %> ago
        </td>

        <td>
          <a href="/activities/<%= an_activity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
